* {
  box-sizing: border-box;
}

/* ••••••••••••••• Desktop ••••••••••••••• */
@media (min-width: 600px) {
  .container {
    
  }

  .wrap-bcde {
    display: flex;
    flex-wrap: wrap;
  }
}


/* ••••••••••••••• Mobile ••••••••••••••• */
@media (max-width: 600px) {

  .container {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    padding: 1%;
    height: 98vh;
  }
  
  .wrap-bcde {
    display: flex;
    flex-wrap: wrap;
  }
  
  .a, .b, .c, .d, .e, .f { 
    display: flex;
    justify-content: center; 
    align-items: center;
    background: darkred;
    color: aliceblue;
    border: 3px solid;
    margin: 5px;
  }
  
  .a, .f {
    height: 20vh;
  }
  
  .b {
    width: 100vh;
    height: 50vh;
  }

  .wrap-bcde .c, .d, .e {
    flex-grow: 2;
    width: 10vh;
    height: 15vh;
  }
}