* {
  box-sizing: border-box;
}

/* ••••••••••••••• Desktop ••••••••••••••• */
@media (min-width: 600px) {

  .a, .b, .c, .d, .e, .f {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkred;
    color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  .container {
    border: 2px solid red;
    display: flex;
    flex-flow: wrap;
  }

  .main-wrap {
    border: 2px solid;
    margin: 10px;
    display: flex;
    flex-flow: wrap column;
    flex-grow: 2;
    height: fit-content; 
    height: 75vh;
  }

  .wrap-cde {
    display: flex;
    flex-flow: wrap row;
    height: 25vh;
  }

  .a {
    width: 100%;
    flex-grow: 1;
    height: 20vh;
  }

  .b, .f {
    flex-grow: 1;
  }

  .c,
  .d,
  .e {
    flex-grow: 1;
  }
}


/* ••••••••••••••• Mobile ••••••••••••••• */
@media (max-width: 600px) {

  .a, .b, .c, .d, .e, .f {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkred;
    color: aliceblue;
    border: 3px solid;
    margin: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    padding: 1%;
    height: 98vh;
  }

  .main-wrap {
    border: 2px solid;
    margin: 10px;
    display: flex;
    flex-flow: wrap column;
    flex-grow: 2;
    height: fit-content; 
    height: 75vh;
  }

  .wrap-cde {
    display: flex;
    flex-flow: wrap row;
    height: 15vh;
  }

  .a,
  .f {
    height: 20vh;
  }

  .b {
    flex-grow: 1;
  }

  .c,
  .d,
  .e {
    flex-grow: 1;
  }
}